.continue-payment{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #583980;
    box-sizing: border-box;
    padding: 2vmax;
  }
  .toggleTo-payment {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #142540;
  }
  .guidelines {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    animation: rotateYAnimation 0.5s ease-in-out;
  }
  
  @keyframes rotateYAnimation {
    0% {
      transform: rotateY(-90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  
  .container p{
    font: 400 16px "Rubik";
    margin-bottom: 10px;
    color: #6f4545;
  }
  .toggle-button, .cross-button {
    margin: 1vmax;
    background-color: #932c96;
    font: 400 19px "Rubik";
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  .toggle-button:hover, .cross-button:hover {
    background-color: #2c82bd;
  }
  
  .dynamic-div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: rotateXAnimation 0.5s ease-in-out;
  }
  
  @keyframes rotateXAnimation {
    0% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
  .payment-main-container{
      display: grid;
      place-items: center;
      background-color: rgb(255, 255, 255);
      height: 65vh;
      margin: 2vmax;
  }
  .payment-form{
      width: 22%;
      height: 100%;
  }
  .payment-form > p{
      font: 400 2vmax "Roboto";
      color: rgba(0, 0, 0, 0.753);
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
      padding: 1vmax 0;
      text-align: center;
      width: 50%;
      margin: auto;
  }
  .payment-form > div{
      display: flex;
    align-items: center;
    margin: 2vmax 0;
  }
  .paymentInput{
      padding: 1vmax 4vmax;
      border: 1px solid #171716;
      padding-right: 1vmax;
      width: 100%;
      outline: none;
   
      border-radius: 5px;
      box-sizing: border-box;
  }
  .payment-form > div > svg {
      position: absolute;
      transform: translateX(1vmax);
      font-size: 1.6vmax;
      color: blue;
    }
  
   .paymet-form-button {
      border: none;
      background-color: red;
      color: white;
      font: 300 0.9vmax "Roboto";
      width: 100%;
      padding: 0.8vmax;
      cursor: pointer;
      transition: all 0.5s;
      outline: none;
      transition: all 0.5s;
      border-radius: 3px;
    }
    .paymet-form-button:hover{
      background-color: #963d36;
      transform: scale(1.1);
    }
  
  
    /* Style for Order Success Componenet */
    .order-main-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 2vmax;
      height: 90vh;
    }
    .order-main-container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  
    .order-main-container > div > svg{
      font-size: 6vmax;
      color: green;
    }
    .order-main-container > div > p{
        margin-top: 1vmax;
      font: 400 1.5vmax "Rubik";
    }
    .order-main-container > div  button{
        margin-top: 2vmax;
      padding: 7px 10px;
      border-radius: 4px;
      background-color: red;
      color: #fff;
      cursor: pointer;
      border: none;
      outline: none;
      transition: all 0.5s;
    }
    .order-main-container > div  button:hover{
      background-color: #cf3a30;
      transform: scale(1.2);
    }
  
    /* on Fail Payment style */
    .fail-main-container{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90vh;
    }
    .fail-main-container > div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .fail-main-container > div > p{
      font: 400 1.5vmax "Roboto";
      color: #ba544c;
    }
    .fail-main-container > div > svg{
      font-size: 6vmax;
      color: #d42a1e;
    }
    .fail-main-container > div > button{
        margin-top: 1.5vmax;
      padding: 8px 8px;
      border-radius: 4px;
      background-color: #bed61e;
      color: #171716;
      border: none;
      outline: none;
    }
    .fail-main-container > div > button > a{
      text-decoration: none;
      font: 400 1vmax "Roboto";
      
    }
    @media screen and (max-width:600px) {
      
        .payment-main-container{
        
            display: grid;
            place-items: center;
            background-color: rgb(255, 255, 255);
            height: 65vh;
           
            margin: 2vmax;
        }
        .payment-form{
           
          width: 100%;
            height: 100%;
            
        }
        .payment-form > p{
            
            font: 400 2vmax "Roboto";
            color: rgba(0, 0, 0, 0.753);
            border-bottom: 1px solid rgba(0, 0, 0, 0.13);
            padding: 1vmax 0;
            text-align: center;
            width: 50%;
            margin: auto;
          

        }
        .payment-form > div{
            
     
            display: flex;
            flex-direction: column;
          align-items: center;
          margin: 2vmax auto;
          width: 80%;
        }
        .paymentInput{
            padding: 1.5vmax 4vmax;
            border: 1px solid #171716;
            padding-right: 1vmax;
            width: 100%;
            outline: none;
         
            border-radius: 5px;
            box-sizing: border-box;
        }
        .payment-form > div > svg {
            padding: 0.5vmax;
            position: relative;
            left: -16vmax;
            font-size: 2.4vmax;
            top: 4vmax;
            color: blue;
          }
        
         .paymet-form-button {
            border: none;
            background-color: red;
            color: white;
            font: 300 0.9vmax "Roboto";
            width: 50%;
            padding: 1.9vmax 0.8vmax;
            cursor: pointer;
            transition: all 0.5s;
            outline: none;
            transition: all 0.5s;
           margin-left: 10vmax;
           margin-top: 5vmax;
            border-radius: 3px;
          }
    }