.shipping-container{
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shipping-box{
    background-color: #fff;
    width: 32vw;
    height: 80vh;
    overflow: hidden;
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,.262);
}
.shipping-heading{
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 50%;
    margin: auto;
}
.shipping-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 80%;
    transition: all 0.5s;
}
.shipping-form > div{
    display: flex;
    width: 100%;
    align-items: center;
}
.shipping-form > div > input,
.shipping-form> div > select{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}
.shipping-form > div > svg{
    position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}
.submit-btn{
    border: none;
    background-color: red;
    color: white;
    font: 300 1vmax "Roboto";
    width: 50%;
    border-radius: 7px;
    padding: 1vmax;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    margin: 2vmax;
    transition: all 0.5s;
}
.submit-btn:hover{
    background-color: tomato;
    width: 100%;
}
@media screen and (max-width:600px) {

    .shipping-box{
        width: 100vw;
    height: 95vh;
    box-shadow: 1px 2px 8px 2px #fff;
    }
    .shipping-heading{
        font: 400 6vw "Roboto";
        padding: 5vw;
    }
    .shipping-form{
        padding: 11vw;
    }
    .shipping-form > div > input,
    .shipping-form> div > select{
        padding: 5vw 10vw;
        font: 300 4vw cursive;
    
    }
    .shipping-form > div > svg{
        font-size: 6vw;
    transform: translateX(3vw);
    }
    .submit-btn{
        font: 300 4vw "Roboto";
        padding: 4vw;
    }
   
}