.product-details-container{
    display: flex;
    margin-top: 1rem;
    box-sizing: border-box;
   box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
}
.product-Image{
 background-color: #eee;
display: flex;
justify-content: center;

}
.product-Image > .image{
    width: 20vw;
    height: 30vh;
        object-fit: contain;
}
.product-details-info{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.brand-name{
    color: #17191c;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Merriweather Sans', sans-serif;
}
.description{
    
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    font: 400 1.2vmax "Roboto";
    color: #0F1111!important;
    
    line-height: 24px!important;
}
.ratings{
    margin-top: 10px;
}

.product-price{
    margin-top: 1.5vmax;
    display: flex;
    flex-direction: column;
    padding: 0.5vmax 1vmax;
    box-sizing: border-box;
    color: #0F1111;
   
}
.product-price .actual-price{
display: flex;

width: 20vw;
align-items: center;
}
.product-price .actual-price .mrp{
font: 400 1vmax "Rubik";
}
.product-price .price-box {
display: flex;
align-items: center;
margin-left: 1vmax;
overflow: hidden;
}
.product-price .price-box > span > svg{
font: 400 0.7vmax "Rubik";

}
.product-price .price-box > p{
font: 400 1vmax "Rubik";

}
.product-price .price-box .cut-line{
position: relative;
left: -9.3vmax;
height: 1px;
width: 10vw;
background-color: #0F1111;
}
.product-price .discount{
margin-top: 0.7vmax;
color: #1068e3;
font: 500 1vmax "Roboto";
}
.product-price .big-discount{
    color: #e310dc;
margin-top: 0.7vmax;

    font: 500 1vmax "Roboto";
}
.product-price > .discounted-price{
margin-top: 1vmax;
display: flex;
align-items: center;
}
.product-price > .discounted-price > svg{
font: 400 0.8vmax "Rubik";
margin-left: 1vmax;
}
.product-price > .discounted-price > p{
font: 400 1vmax "Rubik";
}
 
@media screen and (max-width:600px) {
    .product-details-container{
        display: flex;
        margin-top: 1rem;
        box-sizing: border-box;
       box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    }
    .product-Image{
     background-color: #eee;
    display: flex;
    justify-content: center;
    
    }
    .product-Image > .image{
        width: 25vw;
        height: 30vh;
            object-fit: contain;
    }
    .product-details-info{
        display: flex;
        flex-direction: column;
        padding: 8px;
    }
    
    .brand-name{
        color: #17191c;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Merriweather Sans', sans-serif;
    }
    .description{
        
        max-height: 5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* Number of lines to show */
        -webkit-box-orient: vertical;
        font: 400 1.6vmax "Roboto";
        color: #0F1111!important;
        
        line-height: 28px!important;
    }
    .ratings{
        margin-top: 10px;
    }
    .product-price{
        margin-top: 1.5vmax;
        display: flex;
       flex-direction:column;
        padding: 0.5vmax 1vmax;
        box-sizing: border-box;
        color: #0F1111;

    }
  .product-price .actual-price{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .product-price .actual-price .mrp{
    font: 400 1.4vmax "Rubik";
  }
  .product-price .price-box {
    display: flex;
    align-items: center;
    margin-left: 1.5vmax;
    overflow: hidden;
    
  }
  .product-price .price-box > span > svg{
    font: 400 1.2vmax "Rubik";

  }
  .product-price .price-box > p{
    font: 400 1.7vmax "Rubik";

  }
  .product-price .price-box .cut-line{
    position: relative;
    left: -9vmax;
    height: 1px;
    width: 20vw;
    background-color: #0F1111;
  }
  .product-price .discount{
color: #1068e3;
    margin-top: 1vmax;
    font: 500 1.7vmax "Roboto";
  }
  .product-price .big-discount{
    color: #e310dc;
    margin-top: 1vmax;
    font: 500 1.7vmax "Roboto";
}
  .product-price > .discounted-price{
    margin-top: 1vmax;
    display: flex;
    align-items: center;
  }
  .product-price > .discounted-price > svg{
    font: 400 1.5vmax "Rubik";
    margin-left: 1vmax;
  }
  .product-price > .discounted-price > p{
    font: 400 1.8vmax "Rubik";
  }
}