.product-reviews{
    display: flex;
    justify-content: center; 
     padding: 10px;
     box-shadow: 1px 1px 7px 0px #faf5f5;
     margin-top: 1rem;
     width: 20vw;
   
     /* box-sizing: border-box; */
   }
   .reviews-user_info{
   position: relative;
   
   }
   .review-user-image-container{
       display: flex;
       justify-content: center;
       width: 5vw;
       height: 10vh;
       border-radius: 50%;
       overflow: hidden;
   }
   .review-user-image-container > img{
     width: 100%;
     height: 100%;
     object-fit: contain;
   }
   .user-name{
     margin-top: 5px;
     font-family: 'Roboto', sans-serif;
     font-size: 13px;
     font-weight: 600;
   }
   .comments{
       font-family: 'Roboto', sans-serif;
     font-size: 10px;
     font-weight: 400;
   }
   @media screen and (max-width:600px){
    .product-reviews{
      display: flex;
      justify-content: space-between; 
      margin: 0 0.5vmax;
       box-shadow: 1px 1px 7px 0px #faf5f5;
       width: 30vw;
     }
     .reviews-user_info{
     display: flex;
     flex-direction: column;
     
     }
     .review-user-image-container{
         display: flex;
         justify-content: center;
         width: 7vw;
         height: 8vh;
         border-radius: 50%;
         overflow: hidden;
     }
     .review-user-image-container > img{
       width: 100%;
       height: 100%;
       object-fit: contain;
     }
     .user-name{
       margin-top: 5px;
       font-family: 'Roboto', sans-serif;
       font-size: 15px;
       font-weight: 500;
     }
     .comments{
         font-family: 'Roboto', sans-serif;
       font-size: 13px;
       font-weight: 400;
     }
   }