.header-main-container{
    width: 100%;
    height: 6rem;
    position: fixed; 
    display: grid;
    grid-template-columns: 1fr 7fr;
    z-index: 50;
    background-color: #fff;
}
.header-navigation-container{
   display: flex;
   justify-content: space-evenly;
   height: 100%;
   align-items: center;
}
.header-product-container > a{
   text-decoration: none;
}
.header-product-container > a > p{
    font: 500 1.5vmax "Rubik";
    color: #0a0303;
}
.header-cart-container > a{
    text-decoration: none;
    display: flex;
 }
 .header-cart-container > a > svg{
    font-size: 30px;
    color: #a16363;
 }
 .header-cart-container > a > p{
    margin-top: 0.8vmax;
    color: rgb(30, 30, 180);
    font: 400 1vmax "Roboto";
 }
 .header-user-container > a > p{
     font: 500 1.5vmax "Rubik";
     color: #0a0303;
 }
 .header-user-container > a{
    text-decoration: none;
 }
 .header-cart-container > a > p{
     font: 500 1.5vmax "Rubik";
     color: #0a0303;
 }
.header-input-container{
    width: 28vw;
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.header-input-container > input{
    padding: 12px;
    border: none;
    padding: 1vmax 4vmax;
    border-radius: 10px 3px 3px 10px;
    outline: none;
    font-size: 13px;
    background: #ffffff;
    color: #0a0303;
    font: 500 1.1vmax "Rubik";

    font-weight: 500;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.header-input-container > button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 7px;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 4px;
}
.header-input-container > button:hover{
    background-color: #b8d5d6;
    color: #0a0303;
}
@media screen and (max-width:600px) {
    .header-main-container{
        width: 100%;
        height: 4rem;
        position: fixed; 
        display: grid;
        grid-template-columns: 1fr 7fr;
    }
    .header-navigation-container{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0 1vmax;
    }
   .header-product-container{
    display: none;
   }
    
    .header-cart-container{
        display: none;
       }
    .header-input-container{
        width: 88%;
        display: grid;
        grid-template-columns: 5fr 1fr;
        margin-left: 1.5vmax;
    }
    .header-input-container > input{
        
        border: none;
        padding: 1.4vmax 1vmax;
        border-radius: 10px 3px 3px 10px;
        outline: none;
        font-size: 30px;
        background: #ffffff;
        color: #0a0303;
        font: 500 1.5vmax "Rubik";
        font-weight: 500;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
    
    .header-input-container > button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gray;
        padding: 7px;
        cursor: pointer;
        transition: all 0.3s;
        border: none;
        color: #fff;
        outline: none;
        border-radius: 4px;
    }
    .header-input-container > button:hover{
        background-color: #b8d5d6;
        color: #0a0303;
    } 
    
}