.homeHeader{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
}
.image{ 
    width: 100%;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    margin-bottom: -300px;
    display: flex;
    width: 100%;
   background-size: contain;
   object-fit:cover;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,));
}



.image .left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    flex: 5%;
    height: 150px;
  
    padding: 9px;

}
.image .left:hover{
    cursor: pointer;
    border: 1px solid gray ;
    color: #fff;
    background-color: rgba(0,0,0,0.45) ;
    border: 3px solid #fff;
    
    border-radius: 6px;
}
.left > svg{
    color: #fff;
    font-size: 30px;
    border-radius: 3px;
    color: #fff;
}
.image .center{
    flex: 90%;
}
.image .right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    flex: 5%;
    height: 150px;
  
    padding: 9px;  
}
.image .right:hover{
    /* cursor: pointer; */
    cursor:pointer;
    border: 1px solid gray ;
    background-color:rgba(0,0,0,0.45);
    color: #fff;
    border-radius: 6px;
      border: 3px solid #fff;
}
.right > svg{
    color: #fff;
    font-size: 30px;
    border-radius: 3px;
    color: #fff;
}

@media only screen and (max-width:600px){
    .homeHeader{
        position: relative;
        /* margin-top:-2.3rem ; */
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 30vh;
        background-color: gray;
    }
    .image{
        position: relative;
        top: -10rem;
    }
    .image .left{
        position: relative;
        top: 9rem;
       height: 50px;
       width: 0;
    }
    .image .right{
        position: relative;
        top: 9rem;
       height: 50px;
       width: 0;
    }
}